* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
  background-color: rgb(223, 187, 207);
  padding: 0 50px;
}

nav {
    text-align: center;
    margin: 10px;
}

button {
margin: 5px;
font-family: 'Courier New', Courier, monospace;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 35px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  text-align: center;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  text-align: center;
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 5px;
}

.group img {
  border: groove 2px;
  width: 60%;
}

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  text-align: center;
}

.item {
  flex: 1;
  margin: 10px;
}

@media all and (min-width: 800px) {
  section {
    padding: 0 10px;
  }

  .group {
    flex-direction: row; /* makes it a row when min width 800px */
  }
}