* { /* added universal selector to have all elements the same if change is needed */
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  background-color: #FFB6C1;
}

header { /* centers 'Christina Reanna' header text to middle of page. Added letter spacing for it to stand out */
  text-align: center;
  background-color: white;
  color: black;
  font-family: copperplate;
  font-size: 50px;
  width: 100%;
  letter-spacing: 5px;
  padding: 20px;
}

h2 { /* Makes the background color white of the 'Welcome to my page!' heading */
  font-family: copperplate;
  text-align: center;
  background-color: #FFB6C1;
}

h3 { /* added letter spacing to 'My name is Christina' for more emphasis due to the smaller size of the heading, same white background color */
  font-family: copperplate;
  letter-spacing: 5%;
  background-color: white;
}

.header-image { /* centers image */
  text-align: center;
  width: auto;
  height: 350px;
  width: 750px;
  padding-top: 10px;
}

.header-image img { /* gives a black border around the image that's inside the header-image */
  border: 2px solid black;
}

nav ul {
  text-align: center;
  display: inline;
  list-style-type: none;
}

section {
  text-align: center;
  font-size: 20px;
  margin-left: auto; /* auto - automatically centers sections */
  margin-right: auto;
  margin-top: 5%;
  background-color: whitesmoke;
  width: 600px; /* gives all sections same width, height and background color, separate color from headings, header and footer */
  height: 250px;
}

p {
  text-align: justify; /* aligns text to make it more readable */
  font-family: helvetica;
  font-size: 20px;
  padding: 0 10px; /* padding on left and right sides of text */
  margin-top: 3%;
  letter-spacing: 1px;
}

ul {
  text-align: left;
  list-style-position: inside; /* lists bullet points inside section */
  font-size: 20px;
  font-family: helvetica;
  margin: 2%;
}

ol {
  text-align: center;
  list-style-position: inside; /* lists numbers inside section */
  font-family: helvetica;
  font-size: 20px;
  margin: 2%;
}

a:link { /* sets text to black for all links */
  color: black;
}

a:visited { /* change color when visited */
  color: black;
}

a:hover { /* changes link color to light pink when hovering over */
  color: #FFB6C1;
}

a:active { /* changes color when you select the link */
  color: blue;
}

footer {
  text-align: center;
  font-size: 22px;
  font-family: copperplate;
  color: black;
  background-color: white;
  border: 2px solid black;
  margin-top: 20px;
  padding: 1%;
}

.footer-links {
  text-align: center;
  padding: 0 5% 0 10%; /* padding on left and right sides of links, none on top or bottom */
}

.parent {
  display: inline;
  width: 100%;
}

.left {
  width: 50%;
  float: left;
  padding-top: 70px;
  padding-left: 140px;
}

.words {
  float: right;
  width: 30%;
  height: 495px;
  margin-right: 140px;
  padding: 8px;
}

@media screen and (min-width: 150px) and (max-width: 600px) {
  /* styles for browsers larger than 150px less than 600px */
  .body {
    width: 90%;
    font-size: 95%;
  }
  
  .header-name {
    font-size: 18px;
  }
  .header-image {
    max-width: 100vw;
    max-height: 100vh;
  }

  .img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .h2-header { /* welcome to my page */
    font-size: 26px;
  }

  .section-1 {
    max-width: 95%
  }

  .section-1-h3 {
    font-size: 20px;

  }

  .section-1-ul {
    font-size: 15px;
  }

  .section-2 {
    max-width: 95%;
  }

  .section-2-p {
    font-size: 15px;
  }

  .section-2-h3 {
    font-size: 20px;
  }

  .section-3 {
    max-width: 95%;
  }


  .section-3-h3 {
    font-size: 20px;

  }

  .section-3-ol {
    font-size: 15px;

  }

  .footer {
    font-size: 20px;

  }
}

@media screen and (max-width: 1060px) {
  .body {
    width: 90%;
    font-size: 95%;
  }
  
  .header-name {
    font-size: 18px;
  }
  .header-image {
    max-width: 100vw;
    max-height: 100vh;
  }

  .img {
    max-width: 100%;
    height: auto;
    max-height: 100%;
  }

  .h2-header { /* welcome to my page */
    font-size: 26px;
  }

  .section-1 {
    max-width: 95%
  }

  .section-1-h3 {
    font-size: 20px;

  }

  .section-1-ul {
    font-size: 18px;
  }

  .section-2 {
    max-width: 95%;
  }

  .section-2-p {
    font-size: 18px;
  }

  .section-2-h3 {
    font-size: 22px;
  }

  .section-3 {
    max-width: 95%;
  }


  .section-3-h3 {
    font-size: 22px;

  }

  .section-3-ol {
    font-size: 18px;

  }

  .footer {
    font-size: 22px;

  }
}


/* Tabled Portrait */
@media screen and (max-width: 768px) {
  #primary { width:100%; } #secondary { width:100%; margin:0; border:none; }
}

@media (min-device-width:600px) {
  img[data-src-600px] {
      content: attr(data-src-600px, url);
  }
}

@media (min-device-width:800px) {
  img[data-src-800px] {
      content: attr(data-src-800px, url);
  }
}

html {
  font-size: 100%;
}

@media (min-width: 640px) { 
  body {font-size:1rem;
  } 
} 

@media (min-width:960px) { 
  body {font-size:1.2rem;
  } 
} 

@media (min-width:1100px) { 
  body {font-size:1.5rem;
  } 
} 

