Form {
    max-width: 420px;
    margin: 50px auto;
}

.input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

input:focus {
    border: 2px solid #CC4949;
}

input::placeholder {
    font-size: 16px;
    color: black;
    width: 100%;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: none;
}

textarea::placeholder {
    font-size: 16px;
    color: black;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .contact-form {
        border-radius: 3%;
        padding: 1rem;
        margin: 0 1rem;
    }

    .input {
        width: 100%;
    }
}