Form {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    overflow-y: hidden;
}

h1 {
    font-size: clamp(0.7em, .5rem + 5vw, 1em);
}

.input {
    color: black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 2px solid black;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 60%;
    box-sizing: border-box;
    outline: 0;
}

input:focus {
    border: 2px solid #CC4949;
}

input::placeholder {
    font-size: 16px;
    color: black;
    width: 100%;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: none;
}

textarea::placeholder {
    font-size: 16px;
    color: black;
    width: 100%;
}

@media screen and (max-width: 425px) {
    Form {
        width: 60%;
    }

    .contact-form {
        font-family: 'Times New Roman', Times, serif;
        border-radius: 3%;
        padding: 0 2em;
        overflow-y: hidden;
    }

    .input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    Form {
        width: 100%;
    }

    .contact-form {
        font-family: 'Times New Roman', Times, serif;
        border-radius: 3%;
        padding: 0 3em;
        overflow-y: hidden;
    }

    .input {
        width: 100%;
    }
}