.App {
  text-align: center;
}


#target {
  background-color: black;
  font-family: calibri;
  font-size: 70px;
  text-align: center;
  padding-top: 80px;
  color: #F55887;
  animation: slideRight 2s ease-in-out;
}


@keyframes slideRight {
  from {
    transform: translate(-100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

#desc {
  background-color: black;
  font-family: calibri;
  text-align: center;
  font-size: 50px;
  padding: 60px;
  color: white;
  animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}


.title {
  font-size: 24px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: Centrano2;
  color: white;
  width: auto;
  text-align: center;
}

/* .img-div {
  background-color: aqua;
} */

img {
  width: 500px;
  height: auto;
  border-radius: 50%;
  border: 10px solid aqua;
}

.container-fluid {
  /* background-color: hotpink; */
  font-size: 12px;
  color: white;
  /* width: auto; */
  padding: auto;
}


.icon {
  border-radius: 100px;
  padding: 30px;
  margin: 30px;
  color: black;
  background-color: palevioletred;
}


.blog-container {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding: 3em 0;
}

.blog-title {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  width: auto;
  text-align: center;
  padding: 1em;
  background-color: #F55887;
  margin: 3em;
}

.blog {
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
  width: auto;
  text-align: center;
  padding: 1em;
  background-color: #F55887;
  margin: 3em;
}

.home {
  color: #F55887;
  font-size: 4em;
  padding: 20px;
}

.contact {
  color: #F55887;
  font-size: 4em;
  padding: 20px;
}

.blogs {
  color: #F55887;
  font-size: 4em;
  padding: 20px;
}

hr {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: aqua;
  height: 10px;
}

.foreground {
  z-index: 99;
  width: 100%;
  position: absolute;
}

.background {
  z-index: -1;
  position: fixed;
  background-color: #000000;
  width: 100%;
  height: 100%;
}


@media screen and (max-width: 1024px) {

  .foreground {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 2560px) {

  .foreground {
    width: 100%;
  }

  .sidebar {
    display: none;
  }
}

/* @media screen and (max-width: 375px) {

  .foreground {
    width: 100%;
  }

  .sidebar {
    width: 100%;
    display: inline;
  }
} */

@media screen and (max-width: 375px) {

  .foreground {
    max-width: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    width: auto;
    display: inline;
    overflow-x: hidden;
  }

  .icon {
    padding: 20px;
  }
}


@media screen and (max-width: 320px) {

  .foreground {
    width: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    width: 100%;
    display: grid;
    overflow-x: hidden;
  }

  .blogs {
    font-size: 30px;
  }

  .blog-title {
    padding: 20px;
    margin: 40px;
  }

  .blog {
    padding: 20px;
    margin: 40px;
  }
}



@media screen and (max-width: 960px) {

  .sidebar {
    display: none;
  }
}

@media screen and (max-width: 414px) {

  .foreground {
    max-width: 100%;
  }

  .sidebar {
    width: auto;
    overflow-x: hidden;
    display: inline;
  }

  .photo5 {
    width: 200px;
    margin-top: 40px;
  }
}

@media screen and (max-width: 768px) {

  .foreground {
    max-width: 100%;
  }

  .sidebar {
    display: grid;
    overflow-x: hidden;
    max-width: 100%;
  }
}


@media screen and (max-width: 480px) {

  .foreground {
    max-width: 100%;
  }

  .sidebar {
    overflow-x: hidden;
    width: auto;
  }
}

@media screen and (max-width: 425px) {

  .foreground {
    max-width: 100%;
  }

  .sidebar {
    width: auto;
    display: grid;
    overflow-x: hidden;
  }

  .icon {
    width: 20px;
    height: 20px;
    background-color: rgb(111, 8, 69);
  }

}


@media screen and (max-width: 320px) {

  .foreground {
    font-size: 8px;
  }

  #target {
    font-size: 30px;
  }

  #desc {
    font-size: 25px;
    width: auto;
    padding: 15px;
  }

  .sidebar {
    width: auto;
    display: grid;
    overflow-x: hidden;
  }

  img {
    width: 250px;
  }

  .icon {
    width: 30px;
    height: 30px;
    margin: 5px;
    color: black;
    background-color: palevioletred;
  }

}

header {
  margin: 20px;
  padding: 20px;
  text-align: center;
  font-size: 32px;
}