*,
*::before,
*::after {
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: monospace;
}

.foreground {
  z-index: 99;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
}

.background {
  z-index: -1;
  position: fixed;
  background-color: beige;
  width: 100%;
  height: 100%;
}

.footer {
  color: beige;
  font-size: clamp(.8rem, 1vw, .9rem);
  margin: 10px 30px;
}

#target {
  background-color: beige;
  min-height: 30px;
  min-width: 60%;
  font-size: clamp(1rem, .5rem + 5vw, 5rem);
  text-align: center;
  padding: 1rem 0;
  color: black;
  animation: slideRight 2s ease-in-out;
}


@keyframes slideRight {
  from {
    transform: translate(-100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

#desc {
  background-color: beige;
  min-width: 30%;
  min-height: 80px;
  text-align: center;
  font-size: clamp(.6rem, .5rem + 5vw, 2rem);
  padding: 0 2rem;
  color: black;
  animation: slideIn 2s ease-in-out;
}

@keyframes slideIn {
  from {
    transform: translate(100%, 0);
  }

  to {
    transform: translate(0, 0);
  }
}

body {
  font-size: clamp(16px, 4vw, 22px);
  justify-content: center;
  text-align: center;
  align-items: center;
}

h1, h2 {
  /* font-size: clamp(1rem, 5vw, 2rem); */
  font-size: clamp(.5rem, .5rem + 5vw, 2rem);
  color: black;
  text-align: center;
}

.home-title {
  color: black;
}

/* .img-div {
  min-width: 30rem;
} */

.link {
  text-align: center;
  text-decoration: none;
  color: black;
  justify-content: center;
  padding: 5rem 0;
}

/* .pikachu {
  max-width: 40%;
  height: auto;
  align-items: center;
  border: 2px solid black;
} */

.pikachu {
  width: 100%;
  padding: 10px;
  max-width: 400px;
  height: auto;
  align-items: center;
  border: 2px solid black;
}

.avatar {
  width: 100%;
  padding: 10px;
  max-width: 400px;
  height: auto;
  align-items: center;
  border-radius: 100%;
}

/* .thinkful {
  margin: 0 auto;
  min-width: 50px;
  max-width: 400px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #addfad;
} */
/* 
.thinkful {
  max-width: 40%;
  border: 2px solid white;
} */

/* .container-fluid {
  font-size: 12px;
  color: white;
  padding: 0;
  margin: 0;
  text-align: center;
  align-items: center;
} */

.container-fluid {
  /* padding: 0 2em; */
  /* min-width: 30rem; */
  margin: 0 auto;
}


.icon {
  font-size: 70px;
  /* padding: 10px; */
  margin: 10px;
  color: black;
  background-color: #ffb6c1;
}

.footer-icon {
  font-size: 70px;
  padding: 5px;
  margin: 10px;
  color: black;
  background-color: #addfad;
}


.global-container {
  /* font-size: clamp(1rem, 5vw, 5rem); */
  /* background-color: grey; */
  /* color: black; */
  /* min-width: 60%; */
  background: rgb(152, 181, 182);
  text-align: center;
  padding: 0.8rem;
  font-size: clamp(.5rem, .2rem + 5vw, 2rem);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  /* margin: 2rem; */
  /* background-color: #addfad; */
}


.global {
  /* font-size: clamp(.5rem, 5vw, 2rem); */
  /* font-size: clamp(16px, 4vw, 22px); */
  color: black;
  max-width: 100%;
  text-align: center;
  padding: 1rem;
  /* background-color: #addfad; */
  /* margin: 2rem; */
}

.global-paragraph { 
  color: black;
}

.home {
  color: #df717e;
  max-width: 200rem;
  /* font-size: 30px; */
  /* padding: 20px; */
}


/* .passion-explain {
  background: rgb(0, 99, 173, 0.3);
  text-align: center;
  font-size: clamp(.4rem, .2rem + 5vw, 1.5rem);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

.paragraph-explain {
  color: #addfad;
  max-width: 100%;
  padding: 20px;
  text-align: center;
} */


.button {
  color: black;
  background-color: rgba(0, 0, 0, 0.239);
  width: 200px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  font-size: clamp(.3rem, .2rem + 5vw, 1.2rem);
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  transition: all 0.3s;
  font-weight: 700;
}


/* .contact {
  color: #addfad;
  font-size: 4em;
  margin: 20px;
  padding: 20px;
} */

.projects {
  font-size: 30px;
  color: #addfad;
}

hr {
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  background-color: black;
  height: 8px;
}

/* .blog-container {
  height: 100%;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  padding: 30px 0;
  margin: 0px;
}

.blog-title {
  color: black;
  min-width: 60%;
  text-align: center;
  padding: 1rem;
  background-color: #addfad;
  margin: 2rem;
}

.project-title {
  color: black;
  min-width: 60%;
  text-align: center;
}

.project-container {
  color: black;
  min-width: 60%;
  text-align: center;
  padding: 1rem;
  background-color: #addfad;
  margin: 2rem;
}

.reservation {
  max-width: 80%;
  height: auto;
  align-items: center;
  border: 2px solid black;
} */


.blog {
  color: black;
  max-width: 100%;
  text-align: center;
  padding: 1rem;
  background-color: #addfad;
  margin: 2rem;
}

.blogs {
  color: #df717e;
  font-size: 30px;
}

.contact {
  color: #df717e;
  font-size: 30px;
  margin: 20px;
  padding: 20px;
}

.projects {
  font-size: 30px;
  color: #df717e;
}


@media screen and (max-width: 768px) {

  .foreground {
    max-width: 100%;
    overflow-x: hidden;
  }

  .sidebar {
    display: grid;
    overflow-x: hidden;
    max-width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .icon {
    font-size: 40px;
  }

  .footer-icon {
    font-size: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .icon {
    font-size: 70px;
    margin: 40px;
  }

  .footer-icon {
    font-size: 70px;
    margin: 20px;
  }
}